name: xpensedesk_flutter
description: "AI-powered expense approval tool for small businesses"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.2 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: any
  flutter_riverpod: ^2.4.0
  http: ^1.1.0
  yaml: ^3.1.0
  cupertino_icons: ^1.0.2
  google_fonts: ^4.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  generate: true
  uses-material-design: true
  
  assets:
    - assets/config/
    - assets/images/
